body {
    user-select: none;
}
.container {
    display: grid;
    background-color: #212121;
    border-radius: 10px;
    max-width: 450px;
    font-family: "Calibri";
    padding: 15px;
}
.item {
    color: #212121;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.upper{
    color: #ffffff;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    padding: 5px 12px;
    background-color: #212121;
    width: 60px;
    height: 45px;
}
